</br>
<div class="row">
  <div class="col-md-6">
    <%= form_for @wiki do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 20, class: 'form-control', placeholder: "Enter wiki body" %>
      </br>
      <%= f.submit "Save", class: 'btn btn-primary' %>
      <%= link_to "Collaborate", update_users_path(@wiki), class: "btn btn-warning" if policy(@wiki).premium? %>
      </br>
      <p><i>Created by: <%= @wiki.user.name %></i></p>
    <% end %>
  </div>
  <div class="col-md-6">
    <p><%= markdown @wiki.title %></p>
    </br>
    <%= markdown @wiki.body %>
  </div>
</div>
  

