<h1>Edit Wiki</h1>
<div class="row">
  <div class="col-md-6">
    <%= form_for @wiki do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
            <%= f.label :body %>
            <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
            <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
      <div class="col-md-6">
        <% if @user.admin? || @user.premium? %>
          <%= f.label "private:" %>
          <%= f.check_box(:hide) %>
          <%= link_to "Collaboration", wiki_collaborations_path(@wiki), class: "btn btn-warning" %>
        <% end %>
    <% end %>

  </div>
</div>
