<div class="row">
  <h1><%= @wikis.count %> WIKIS</h1>
   <div class="col-md-12">
      <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to "All Wikis", wikis_path, action: "index" %></li>
          <li role="presentation"><%= link_to "My Wikis", wikis_path(select: :mine), class: "active", action: "index" %></li>
          <li role="presentation"><%= link_to "Collaborations", wikis_path(select: :collab), action: "index" %></li>
      </ul>
     <table class="table">
     <tr>
       <td><b>Title</b></td>
       <td><b>Id</b></td>
       <td><b>Author</b></td>
       <td><b>Public</b></td>
       <td><b>Collaborate</b></td>
     </tr>
     <% @wikis.each do |wiki| %>
     <tr><td><%= link_to wiki.title, wiki_path(wiki) %></td>
         <td><%= wiki.id %></td>
         <td><%= wiki.owner.name %></td>
         <td><%= "yes" unless wiki.hide? %></td>
         <td><%= "yes" unless wiki.users.empty? %></td>
         </tr>
   
     <% end %>
     </table>
    </div>
   </div>
