<h1><%= @wiki.title %></h1>
<% if policy(@wiki).update? %>
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
</br>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %>
<% end %>
<p><%= @wiki.body %></p>
</br>
<h2><p><%= "PRIVATE" if @wiki.hide %></p></h2>
