<div class="row">
  <div class="col-md-10">
    <h1><%= markdown @wiki.title %></h1>
  </div>
  <div class="col-md-2">
    </br>
    <% if current_user.premium? %>
      <% if @wiki.hide? %> 
        <span class="glyphicon glyphicon-eye-close">  Private</span>
      <% else %>
        <span class="glyphicon glyphicon-eye-open">  Public</span>

      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">                
      <p><%= markdown @wiki.body %></p>
      </br>
      <% if policy(@wiki).update? %>
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %>
      <% end %>
      <p>
      </br>
      <i>Created by: <%= @wiki.user.name %></i>
      </p>
    </div>
  </div>
</div>