<div class="row">
<div class="col-md-12">
  <h2><%= @wiki.title %> Collaborators</h2>
</div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <tr>
        <td><b>Name</b></td>
        <td><b>Id</b></td>
        <td><b>email</b></td>
        <td><b>Member</b></td>
      </tr>
      <%= form_tag("/wikis/#{@wiki.id}/collaborators/change") do %>
          <tr>
        <% @userlist.each do |us| %>
            <td><%= us.name %></td>
            <td><%= us.id %></td>
            <td><%= us.email %></td>
            <td align="center"><%= check_box_tag  "collaborate[]",us.id, true ? @users.include?(us) : false %></td>
          </tr>
        <% end %>
    </table>
  </div>
  <div class="col-md-4">
  </br>
  <%= submit_tag("Update", class: "btn btn-primary") %>
      <% end %>

  </div>
</div>